
<div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1 class="heading">Welcome to Doggie Tracks</h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>
<a href="/dog/add">Add a Dog</a>
<div class="container">
	<div class="row" ng-repeat="dog in dogs | orderBy: 'id':true " ng-if="$index % 2 == 0">
		<div class="span6">
			<h3><a href="/dog/{{ dogs[$index].id }}">{{ dogs[$index].name }}</a> <small>{{ dogs[$index].breed }}</small></h3>
			<p>{{ dogs[$index].desc | limitTo: 100 }}{{dogs[$index].desc.length > 100 ? '...' : ''}}</p>
		</div>
		<div class="span6">
			<h3><a href="/dog/{{ dogs[$index + 1].id }}">{{ dogs[$index + 1].name }}</a> <small>{{ dogs[$index + 1].breed }}</small></h3>
			<p>{{ dogs[$index + 1].desc | limitTo: 100 }}{{dogs[$index + 1].desc.length > 100 ? '...' : ''}}</p>
		</div>
	</div>
</div>
